*{
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: "Android";
    src: url("fontes/idroid.otf") format(opentype);
    font-weight: normal;
}

:root{
    --cor0:#adb2ff;
    --cor1:#858dff;
    --cor2:#453bff;
    --cor3:#0003ca;
    --cor4:#270089;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:"Bebas Neue", sans-serif;
    --fonte-android: "Android", cursiva; 
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1), var(--cor2));
    text-align: center;
    height: 150px;
    padding-top: 40px;
}
header h1{
    font-family: var(--fonte-destaque);
    color: #ffffff;
    font-size: 50px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    margin-bottom: 20px;
}

header p{
    color: #ffffff;
    font-family: var(--fonte-padrao);
    font-size: 20px;
    width: 500px;
    margin: auto;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

nav{
    background-color: var(--cor2);
    box-shadow: 6px 6px 5px rgb(0, 0, 0);
    text-align: center;
}
nav a{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}
nav a:hover{
    background-color: var(--cor0);
}
main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 20px;

}
main h1{
    font-family: var(--fonte-android);
    color: var(--cor4);
}

main p{
    font-size: 20px;
    text-align: justify;
    text-indent: 20px;
    line-height: 30px;
    margin: 20px;
}

main strong{
    color: var(--cor3);

}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor30);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
}

main a{
    text-decoration: none;
    color: var(--cor4);
    background-color: var(--cor0);
    font-weight: bold;
    padding: 3px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor3);
}

main img{
    width: 100%;
}

#pequena{
    width: 50%;
    margin: auto;
    display: block;
}

aside{
    background-color: var(--cor0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    margin-top: 10px;
}

aside h3{
    background-color: var(--cor3);
    color: #ffffff;
    padding: 10px;
    margin: -20px -20px 0px -20px;
    border-radius: 10px 10px 0px 0px;
}

aside ul{
    columns: 2;
    list-style-position: inside;
    list-style: '\1F5F8\00A0\00A0'
}

footer{
    background-color: var(--cor4);
    padding: 20px;
    color: white;
    text-align: center;
}

footer a{
    text-decoration: underline;
    color: white;
}

footer a :hover{
    text-decoration: underline;
    color: aquamarine;
}

#video{
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
}
 div#video > iframe{
    top: 5%;
    left: 5%;
    height: 90%;
}

#externo::after{
    content: '\00A0\1f517';
}

